<section class="lancer-sheet">
  <div class="card">
    <span class="lancer-header lancer-primary">Edit Field:</span>

    <div class="big-editor">
      {{editor text target="text" button=false owner=true editable=true}}
    </div>

    <button type="submit" class="dialog-button done-button">
      <i class="fas fa-save"></i>
      Save
    </button>
  </div>
</section>
