<section class="lancer-sheet">
  <div class="card">
    <span class="lancer-header lancer-primary">Edit Field:</span>

    <div class="big-editor" data-prose-mirror-mount></div>

    <button type="submit" class="dialog-button done-button">
      <i class="fas fa-save"></i>
      Save
    </button>
  </div>
</section>
