<div class="card clipped-bot lancer-chat-card">
  <div class="lancer-header lancer-primary">// {{upper-case title}} //</div>
  <div class="lancer-chat-card-body">
    <div class="effect-text lancer-chat-effect-grid">
      {{{description}}}
    </div>
    {{#if roll}}
      {{{lancer-dice-roll roll roll_tt roll_icon}}}
    {{/if}}
    {{{tag-list "tags"}}}
  </div>
</div>
