<div class="card clipped-bot lancer-chat-card">
  <div class="lancer-header lancer-talent">
    // TALENT :: {{title}}
    {{inc lvl}} //
  </div>
  <span class="major lancer-chat-center-major">{{rank.name}}</span>
  <div class="effect-text lancer-chat-effect-grid">
    {{{rank.description}}}
  </div>
  {{! TODO: show actions }}
</div>
