@layer lancer.applications {
  .lancer.dialog.rich-editor {
    min-width: 450px;
    min-height: 275px;
    form {
      flex: 1;
      .dialog-content {
        flex: 1;
        prose-mirror {
          flex: 1;
        }
      }
    }
  }

  .lancer-text-editor .big-editor {
    display: flex;
    flex-direction: column;
    min-height: 15em;

    prose-mirror {
      flex: 1;
      min-height: 12em;
    }
  }
}
