@layer lancer.applications {
  /* Chat Styles */
  #chat-log,
  .chat-popout {
    & .message {
      background: var(--background-color, #ededed);
      clip-path: var(--double-dogear-path);
      -webkit-clip-path: var(--double-dogear-path);
      padding: 0;
      // overflow: hidden;
    }

    & .message-header {
      overflow: hidden;
      background-color: var(--primary-color, #666666);
      padding: 5px 10px;
    }

    & .message-header * {
      color: var(--light-text);
    }

    & .message-content {
      padding: 5px 10px;
    }

    & .message.whisper {
      border: 2px solid #fdcb28;
    }
  }
}
